header{
    background-color: orange;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    height: 30px;
    width: 30px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 4px;
}


.navLink{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-weight: bolder;
}